/* .v-btn:not(.v-btn--outlined).return {
  color: #ffffff;
} */
/* .v-data-table__wrapper {
  overflow-x: visible;
} */
/* .v-data-table__wrapper{
  overflow-x:auto;
  }
 */
.xwidth800 .v-data-table__wrapper table {
  min-width: 800px !important;
}
.xwidth900 .v-data-table__wrapper table {
  min-width: 900px !important;
}
.xwidth1000 .v-data-table__wrapper table {
  min-width: 1000px !important;
}
.xwidth1100 .v-data-table__wrapper table {
  min-width: 1100px !important;
}
.xwidth1200 .v-data-table__wrapper table {
  min-width: 1200px !important;
}
.xwidth1300 .v-data-table__wrapper table {
  min-width: 1300px !important;
}
.xwidth1400 .v-data-table__wrapper table {
  min-width: 1400px !important;
}
.xwidth1500 .v-data-table__wrapper table {
  min-width: 1500px !important;
}

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td {
  padding: 0 7px !important;
}

.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 7px !important;
}

/* pagination start */
.v-application--is-ltr .v-data-footer__pagination {
  margin: 0 3px 0 3px !important;
}

.v-application--is-ltr .v-data-footer__select .v-select {
  margin: 13px 0 13px 5px !important;
}

.v-application--is-ltr .v-data-footer__icons-before .v-btn:last-child {
  margin-right: 1px !important;
}

.v-application--is-ltr .v-data-footer__icons-after .v-btn:first-child {
  margin-left: 1px !important;
}
/* pagination end */

.v-application--is-ltr .v-text-field--outlined fieldset {
  /* padding-left: 3px !important; */
}

.v-data-table__wrapper tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

/* .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
